{
  "openapi": "3.1.0",
  "info": {
    "title": "Datagoat API",
    "version": "1.5.0",
    "description": "Ask yes/no, score, choice and rank questions about cases. Datagoat answers from what happened to cases like them: deterministic, with reasons, signed, and it refuses rather than guess. MCP: https://api.datagoat.io/mcp",
    "contact": {
      "url": "https://datagoat.io"
    }
  },
  "servers": [
    {
      "url": "https://api.datagoat.io"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "ask",
      "description": "The one call."
    },
    {
      "name": "supporting",
      "description": "Data, tasks, outcomes, drift, verification."
    }
  ],
  "paths": {
    "/v1/ask": {
      "post": {
        "operationId": "dg_ask",
        "summary": "Ask",
        "description": "Answers typed questions about cases from a record of past outcomes. A call sends the record (data), questions keyed by id, and the cases to answer; answers return keyed by the same ids. Question types: yesno (the chance the outcome happens), score (that chance as a level: unlikely, possible, likely, very_likely), choice (the best option for each case, with each option's chance, most_likely and least_likely; choice is the only type that needs outcome_is_desirable), rank (cases in order of the chance). Questions about one record can share one call, and questions on the same outcome and outcome_is_desirable share one fit. The record can be a table (one row per case) or, with shape, an event log, a time series, a panel, sensor signals, agent traces, or snapshots (an event log read as of each moment in a snapshot table, e.g. a deal at each stage). Building a product: namespace keeps each of your customers' models and usage apart; model_ttl_days (1 to 365) sets how long a fitted model answers; a question that names model_ref instead of outcome_column scores new cases from that model with no fit (send cases.rows, or a newer record and cases.ids), and every answer lists model_columns, the columns its model reads. Each answer has a state: answered; refused (the record holds no pattern that holds on held-out rows, and the same call returns the same refusal); or not_yet (too few labeled rows; needs.labeled_rows gives how many more). An answered question carries, per case, p and up to four reasons (feature_label, value, likelihood_direction, strength, and range: the band of values the case's value fell in, e.g. \"tenure_months 9 to under 17\"), and a signed Verdict covering its cases. yesno, score and rank answers also carry pattern: the conditions, with cut points, under which the outcome is most common (e.g. \"support_tickets over 3\"), and per case pattern_match {matched, of, met}. Reasons and patterns are associations, not causes; likelihood_direction is the direction the chance moved, not whether that is good news. Answers are deterministic: the same record and question give the same answer. A first fit on a large record returns status pending with a task_id for dg_poll. Over MCP, an answer larger than one tool result (about 60,000 characters, roughly 60 cases with their Verdict) returns its first page: each list carries page {offset, returned, total}, page.next_cursor leads to the rest through dg_page, and page.answer_url downloads the whole answer as JSON. export: csv adds a CSV download of every case. Free to try on the samples, e.g. data.dataset_id sample:saas_churn, entity_column customer_id, outcome_column churned, cases {ids: [\"cust_0001\"]}. Cost: one decision per answered case, and a fit the first time a record is asked about (1,000 free fits a month, then $0.01 each); refusals and not_yet bill no decisions, and the samples are free",
        "tags": [
          "ask"
        ],
        "x-dg-cost": "one decision per answered case; the first ask on a record also runs a fit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_ask_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_ask_output"
                }
              }
            }
          },
          "202": {
            "description": "Pending: the first fit is still running; dg_poll with task_id returns the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_ask_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/add-dataset": {
      "post": {
        "operationId": "dg_add_dataset",
        "summary": "Add a dataset",
        "description": "Stores a record (any shape) so later asks can name it by dataset_id. Free. Takes rows or csv (up to 10,000 rows or 3,000,000 characters, and 4.5 MB, per call), a fetch_url to download (up to 50 MB), or upload: true for large files: it returns upload_page, a link a person opens in a browser to drop in a CSV of up to 250 MB (valid one hour), and upload_url, a presigned URL a program PUTs the file to. Calling again with the returned dataset_id and more rows appends a piece; pieces append in order until the first ask or preflight seals the dataset, and a piece with different columns is refused. Returns dataset_id, status (ready | open | awaiting_upload), rows and columns. A stored dataset is deleted 24 hours after it was last used, or at once with dg_delete_dataset",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_add_dataset_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_add_dataset_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/poll": {
      "post": {
        "operationId": "dg_poll",
        "summary": "Poll a task",
        "description": "Free. Returns the current status of a pending task (a first ask on a large record): status pending (with stage and elapsed_ms) until it finishes, then the same object the original call would have returned, paged the same way over MCP. retry_after_ms is the suggested wait between polls. Re-sending the original call instead would start a second fit. Results are kept for 24 hours",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_poll_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_poll_output"
                }
              }
            }
          },
          "202": {
            "description": "Pending: the first fit is still running; dg_poll with task_id returns the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_poll_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/preflight": {
      "post": {
        "operationId": "dg_preflight",
        "summary": "Check a table before asking",
        "description": "Free; fits nothing. Reports whether a table is worth asking about before the first ask: grain (whether one row is one kind of thing), resolutions (what each column's values are; an ambiguous column is not a sound predictor), and fitness (positives per usable predictor over labeled rows). blocking entries mean an answer from this table would not be believable; advisory entries are worth reading. It reports and refuses nothing, and a clean preflight does not promise a pattern exists. Like an ask, it seals a dataset still taking pieces. Tables only",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_preflight_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_preflight_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/report-outcomes": {
      "post": {
        "operationId": "dg_report_outcomes",
        "summary": "Report what happened",
        "description": "Free. Records the real outcome for cases answered under a model_ref: outcome is yes/no (0/1, true/false), observed_at is when it was observed, event_id is the caller's idempotency key. Outcomes are evidence about the model's track record; they do not change a model or an answer. Needs the write:outcomes capability: a person signed in through an MCP host has it; an API key has it when created with \"Can report outcomes\"",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_report_outcomes_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_report_outcomes_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/drift": {
      "post": {
        "operationId": "dg_drift",
        "summary": "Has the pattern moved?",
        "description": "Free. For a model_ref from an ask that named refit_of, compares the new fit with the old: pattern is unchanged | changed | no_prior, and recommendation is keep | refit | abandon | no_check_yet (nothing has been compared yet, so it is no reason to renew a model). The chain is built by asking again on the new version of a record with refit_of set to the previous model_ref. A single refusal on a refresh is not drift",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_drift_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_drift_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify": {
      "post": {
        "operationId": "dg_verify",
        "summary": "Verify a Verdict",
        "description": "Free, and needs no key over REST. Checks that a Verdict is genuine and unaltered. Takes the verdict and signature exactly as received (re-serialising them breaks the signature). Returns status: valid | invalid_signature | expired | unknown_key. An expired Verdict is stale and its question can be asked again. Public keys: https://api.datagoat.io/.well-known/jwks.json",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_verify_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_verify_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/describe": {
      "post": {
        "operationId": "dg_describe",
        "summary": "What Datagoat can do",
        "description": "Free. Lists the five journeys (try it, ask your data, ship a product, run it, prove it) with their docs, skills and operations; the question types, record shapes, answer states, limits, prices, retention, the documentation pages, and the free sample records, each with a ready-to-run ask",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_describe_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_describe_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delete-dataset": {
      "post": {
        "operationId": "dg_delete_dataset",
        "summary": "Delete a dataset",
        "description": "Free. Deletes a stored dataset now: its rows are removed from storage and its dataset_id stops working. Fitted models hold no rows and are not affected. Without this call a dataset is deleted 24 hours after it was last used",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_delete_dataset_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_delete_dataset_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/attest": {
      "post": {
        "operationId": "dg_attest",
        "summary": "Record an action",
        "description": "Free. Records that a case was acted on through one of its levers, so dg_evidence can compare cases acted on with cases not acted on. Takes the model_ref of the answer, the case's entity_id, the lever_token from that case's levers, the feature's new value after the action (post_value) and when the action happened (acted_at). The engine checks the new value against the lever's target without revealing the target, and returns compliant, dose_fraction (how far toward the target the case moved, 0 to 1) and evaluated_feature (the feature the token checks; a lever with several changes carries one token, for one of them). Only compliant actions count as acted. Idempotent by event_id. Needs the write:outcomes capability: a person signed in through an MCP host has it; an API key has it when created with \"Can report outcomes\"",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_attest_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_attest_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evidence": {
      "post": {
        "operationId": "dg_evidence",
        "summary": "Did acting work?",
        "description": "Free. For a model_ref, compares the reported outcomes of cases that were acted on (a compliant dg_attest) with cases that were not. live is null until each group has 30 cases with a reported outcome; then it gives n_acted, n_not_acted, rate_acted, rate_not_acted, diff and its confidence interval (ci_low, ci_high), with small_n true below 100 per group. progress always counts cases with an outcome, acted and not acted, so the gap to the floor is visible. The comparison is observational: acted cases were chosen, not randomised",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_evidence_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_evidence_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/page": {
      "post": {
        "operationId": "dg_page",
        "summary": "Next page of an answer",
        "description": "Free. Returns the next page of an answer that was too large for one response, from page.next_cursor. Each answer in the page keeps its type, state and model_ref, and its list (cases, or ranked for rank) carries page {offset, returned, total}. Pages are slices of the stored answer in its original order; the last page has no next_cursor. Cursors last as long as the answer: 24 hours",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_page_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_page_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/suggest": {
      "post": {
        "operationId": "dg_suggest",
        "summary": "Which questions are worth trying on this table?",
        "description": "Free; fits nothing. Lists the yes/no questions a table could be asked, worth trying first, and says for each whether it is worth asking. Candidates are the table's two-valued columns (converted, churned, lapsed), plus, with include_categories, each value of a column with 3 to 8 values (plan = pro). Each candidate carries outcome_column, positive_values, the share of rows that are yes (prevalence), worth_asking (the engine's quick check that the record holds enough distinct patterns to try; it runs no fit), defined_by (columns that on their own almost completely determine the outcome, so the question restates the data rather than predicts it) and a ready-to-send question. worth_asking is a screen, not an answer: measured on 267 candidate questions across 15 records, it passed 60 of the 65 that dg_ask answered, and about half of the questions it passes are answered. Tables only; entity_column and time_column are never candidates",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_suggest_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_suggest_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extend-model": {
      "post": {
        "operationId": "dg_extend_model",
        "summary": "Keep a model longer",
        "description": "Free. Sets a model to expire the given number of days from now (1 to 365), so it keeps answering model_ref questions without a new fit. An expired model cannot be renewed. Returns model_ref and model_expires_at. A model holds cut points and the category values it groups, never rows",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_extend_model_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_extend_model_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delete-model": {
      "post": {
        "operationId": "dg_delete_model",
        "summary": "Delete a model",
        "description": "Free. Deletes a model now: its model_ref stops answering, and outcome reports, attestations and evidence for it stop too; its Verdicts can still be verified. Asking about the same record again fits (and counts) a new model. Deleting again returns the same result. Without this call a model stops answering when it expires. Needs the write:outcomes capability (a person signed in through an MCP host has it; an API key has it when created with \"Can report outcomes\")",
        "tags": [
          "supporting"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_delete_model_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_delete_model_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exports/{token}": {
      "get": {
        "operationId": "download_answer",
        "summary": "Download an answer",
        "description": "The link in export.results_url (CSV, one row per question per case) or page.answer_url (JSON, exactly the REST answer). The signed token is the credential, like a presigned URL: no key is sent, and it lasts 24 hours from when the answer finished. The body is streamed.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer as a file.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_ask_output"
                }
              }
            }
          },
          "404": {
            "description": "Not a link Datagoat issued, or altered (unknown_link).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "The answer is no longer kept (answer_expired).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/register": {
      "post": {
        "operationId": "register_agent",
        "summary": "Get a free test key",
        "description": "No credential needed. Returns a dgk_test_ key that works on the sample datasets only. Rate-limited per address. For your own data, create a live key at https://datagoat.io/keys.",
        "security": [],
        "responses": {
          "201": {
            "description": "A test key, shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "mode": {
                      "const": "test"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "api_key",
                    "mode"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "A dgk_live_ / dgk_test_ key, or an OAuth access token."
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem. Read `code` and `remedy`; `field` names the argument at fault.",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "remedy": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "code",
          "remedy"
        ]
      },
      "dg_ask_input": {
        "type": "object",
        "properties": {
          "data": {
            "description": "The record: rows of past cases with a yes/no outcome (or, with shape, data the outcome is read from). Exactly one of dataset_id, rows, csv, fetch_url. Inline data is deleted when the call ends. Optional only when every question names a model_ref and the cases are rows.",
            "type": "object",
            "properties": {
              "dataset_id": {
                "description": "A dataset from dg_add_dataset (ds_…), or a free sample (sample:…; dg_describe lists them).",
                "type": "string",
                "minLength": 1
              },
              "rows": {
                "description": "Inline rows, one object per case. Up to 10,000 rows; dg_add_dataset stores more.",
                "minItems": 1,
                "maxItems": 10000,
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "csv": {
                "description": "Inline CSV text with a header row, up to 3,000,000 characters.",
                "type": "string",
                "minLength": 1,
                "maxLength": 3000000
              },
              "fetch_url": {
                "description": "A public https URL Datagoat downloads the CSV from. No redirects; private and internal hosts are refused.",
                "type": "string",
                "format": "uri"
              },
              "fetch_headers": {
                "description": "Headers to send with fetch_url, e.g. an Authorization header for a private object.",
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          },
          "entity_column": {
            "description": "The column naming each case, e.g. customer_id.",
            "type": "string",
            "minLength": 1
          },
          "subject_kind": {
            "description": "What each case is. person turns on decision-support safeguards.",
            "type": "string",
            "enum": [
              "person",
              "org",
              "object",
              "event",
              "other"
            ]
          },
          "questions": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            },
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "description": "yesno: the chance the outcome happens. score: that chance as a level. choice: the best option (needs outcome_is_desirable), with each option's chance, most_likely and least_likely. rank: cases in order of the chance.",
                  "type": "string",
                  "enum": [
                    "yesno",
                    "score",
                    "choice",
                    "rank"
                  ]
                },
                "outcome_column": {
                  "description": "The yes/no column to learn. Required except for choice with option_outcomes.",
                  "type": "string",
                  "minLength": 1
                },
                "outcome_is_desirable": {
                  "description": "true when the outcome is one you WANT (converted, renewed, repaid); false when you want to avoid it (churned, defaulted, failed). Optional except on choice; when absent, Datagoat does not fill it in.",
                  "type": "boolean"
                },
                "positive_values": {
                  "description": "Values of the outcome column that mean yes. Omit when the column has two values such as 0/1, true/false or yes/no.",
                  "minItems": 1,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "levels": {
                  "description": "score only. Level names, lowest first. Default: unlikely, possible, likely, very_likely.",
                  "minItems": 2,
                  "maxItems": 10,
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "cuts": {
                  "description": "score only. One fewer than levels, strictly ascending. Default: 0.25, 0.50, 0.75.",
                  "minItems": 1,
                  "maxItems": 9,
                  "type": "array",
                  "items": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "exclusiveMaximum": 1
                  }
                },
                "option_column": {
                  "description": "choice only. A column you control (team, channel, offer, contract). Each case is scored once per option, and the best option is named.",
                  "type": "string",
                  "minLength": 1
                },
                "options": {
                  "description": "choice with option_column: the values to try.",
                  "minItems": 2,
                  "maxItems": 255,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "option_outcomes": {
                  "description": "choice only, other form: {option: outcome_column}, one learned outcome per option (2 to 32).",
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "top_k": {
                  "description": "rank only. How many to return. Default 20.",
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 1000
                },
                "refit_of": {
                  "description": "The model_ref of an earlier answer on an older version of this record. Adds a drift report, and links the two for dg_drift.",
                  "type": "string",
                  "pattern": "^mr1_[0-9a-f]{32}$"
                },
                "model_ref": {
                  "description": "Answer from an existing model instead of learning from the record: the model_ref of an earlier answer. Nothing is fitted. The cases are cases.rows, or cases.ids read from the data sent with this call (a newer version of the record, say). The outcome, its yes values and outcome_is_desirable are the model's own. Not for choice. Works until the model's model_expires_at.",
                  "type": "string",
                  "pattern": "^mr1_[0-9a-f]{32}$"
                }
              },
              "required": [
                "type"
              ],
              "additionalProperties": false
            }
          },
          "cases": {
            "description": "The cases to answer about. Required for yesno, score and choice. Omit for rank to rank the whole record.",
            "type": "object",
            "properties": {
              "ids": {
                "description": "Cases already in the record, by entity id. With several rows per id, the latest wins (see time_column).",
                "minItems": 1,
                "maxItems": 10000,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "rows": {
                "description": "New cases, one object per case. Each needs the entity column and every column the model uses.",
                "minItems": 1,
                "maxItems": 10000,
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              }
            },
            "additionalProperties": false
          },
          "time_column": {
            "description": "The time column. Orders rows, so cases by id take each id's latest row. Required with every shape except table.",
            "type": "string",
            "minLength": 1
          },
          "shape": {
            "description": "How to read the record when it is not one row per case: an event log, a series, a panel, signals, traces, or snapshots (an event log plus a snapshot table: each case as it was at each moment). Omit for a table. The engine reads the record into rows per case before it fits; with a model_ref question, an events or snapshots record is read with the columns that model's fit chose. dg_describe lists each shape with a ready-to-run ask.",
            "type": "object",
            "properties": {
              "kind": {
                "description": "table: one row per case (the default). events: an event log, many rows per case. series: a time series per case, one row per case per period, with an outcome on each row. panel: periods per case, with the outcome read from a column's trend or final window. signals: timestamped sensor readings, with fault or event intervals in the same table. traces: a log of runs (one row per run) with agent, task or tool columns. snapshots: an event log read as of moments you choose, one case per row of a snapshot table (a deal as it entered each stage), with the outcome in the snapshot table.",
                "type": "string",
                "enum": [
                  "table",
                  "events",
                  "series",
                  "panel",
                  "signals",
                  "traces",
                  "snapshots"
                ]
              },
              "event_column": {
                "description": "events, signals, snapshots: the column naming the event type.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "value_columns": {
                "description": "series (required): the numeric columns to summarise over trailing windows. events, snapshots: amounts to sum and average.",
                "minItems": 1,
                "maxItems": 24,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                }
              },
              "signal_columns": {
                "description": "signals (required): the numeric sensor columns.",
                "minItems": 1,
                "maxItems": 24,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                }
              },
              "event_start_column": {
                "description": "signals: when an event interval starts. A row with an event_column value is an interval, not a reading.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "event_end_column": {
                "description": "signals: when an event interval ends.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "agent_column": {
                "description": "traces: the agent that ran.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "task_column": {
                "description": "traces: the task it ran.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "tool_column": {
                "description": "traces: the tool it used.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "label": {
                "description": "events (required): {lapsed: true}, or {name, when}. panel (required): {trend_of, direction?, alpha?}, or {window_of, periods?, agg?}.",
                "anyOf": [
                  {
                    "anyOf": [
                      {
                        "description": "1 when the case has no event at all in the horizon at the end of the log.",
                        "type": "object",
                        "properties": {
                          "lapsed": {
                            "type": "boolean",
                            "const": true
                          }
                        },
                        "required": [
                          "lapsed"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "description": "Lowercase, digits and underscores. Becomes the outcome column {name}_next_{horizon}{unit}, e.g. churn_next_24h.",
                            "type": "string",
                            "maxLength": 40,
                            "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                          },
                          "when": {
                            "description": "1 when ANY event in the horizon at the end of the log matches. A leaf is {column, op, value}; combine leaves with {all: [...]} or {any: [...]}.",
                            "$ref": "#/$defs/__schema0"
                          }
                        },
                        "required": [
                          "name",
                          "when"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "trend_of": {
                            "description": "A numeric column. The outcome is 1 when this column shows a significant trend across the case's periods.",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200
                          },
                          "direction": {
                            "description": "Default down.",
                            "type": "string",
                            "enum": [
                              "down",
                              "up"
                            ]
                          },
                          "alpha": {
                            "description": "Significance level. Default 0.1.",
                            "anyOf": [
                              {
                                "type": "number",
                                "const": 0.05
                              },
                              {
                                "type": "number",
                                "const": 0.1
                              }
                            ]
                          }
                        },
                        "required": [
                          "trend_of"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "window_of": {
                            "description": "A yes/no column observed each period. The outcome is its value over the last periods of each case.",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200
                          },
                          "periods": {
                            "description": "How many final periods form the outcome window. Default 1.",
                            "anyOf": [
                              {
                                "type": "number",
                                "const": 1
                              },
                              {
                                "type": "number",
                                "const": 2
                              },
                              {
                                "type": "number",
                                "const": 3
                              },
                              {
                                "type": "number",
                                "const": 4
                              }
                            ]
                          },
                          "agg": {
                            "description": "How the window's values combine. Default max: yes if any period says yes.",
                            "type": "string",
                            "enum": [
                              "max",
                              "min",
                              "last",
                              "any"
                            ]
                          }
                        },
                        "required": [
                          "window_of"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                ]
              },
              "horizon_days": {
                "description": "events, older form (days only): the outcome window at the end of the log. horizon: {value, unit} is the newer form.",
                "anyOf": [
                  {
                    "type": "number",
                    "const": 30
                  },
                  {
                    "type": "number",
                    "const": 60
                  },
                  {
                    "type": "number",
                    "const": 90
                  }
                ]
              },
              "lookback_days": {
                "description": "events, older form (days only): the two activity windows before the outcome window; lookback with horizon is the newer form. snapshots: the two activity windows before each snapshot, in days. Default [30, 90].",
                "anyOf": [
                  {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number",
                        "const": 30
                      },
                      {
                        "type": "number",
                        "const": 90
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number",
                        "const": 7
                      },
                      {
                        "type": "number",
                        "const": 30
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number",
                        "const": 90
                      },
                      {
                        "type": "number",
                        "const": 365
                      }
                    ]
                  }
                ]
              },
              "lookback": {
                "description": "events, with horizon {value, unit}: the two activity windows before the outcome window, in the horizon's unit. Default: the unit's first pair (days [30, 90], hours [6, 24], steps [5, 20], ...).",
                "type": "array",
                "prefixItems": [
                  {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  }
                ]
              },
              "time_unit": {
                "description": "series: what the time column counts. steps for a whole-number column (a turn, a cycle); otherwise it is read as a time. Default days.",
                "type": "string",
                "enum": [
                  "minutes",
                  "hours",
                  "days",
                  "weeks",
                  "steps"
                ]
              },
              "windows": {
                "description": "series (required): trailing windows in periods, one of [3, 6], [7, 30], [4, 12]. signals (required): in snapshots, one of [1, 3, 7], [3, 7, 30], [1, 7, 30].",
                "minItems": 2,
                "maxItems": 3,
                "type": "array",
                "items": {
                  "type": "integer",
                  "exclusiveMinimum": 0,
                  "maximum": 9007199254740991
                }
              },
              "snapshot_every": {
                "description": "signals (required): one snapshot of each case per this period.",
                "type": "string",
                "enum": [
                  "15min",
                  "1h",
                  "6h",
                  "1d",
                  "1w"
                ]
              },
              "horizon": {
                "description": "events: {value, unit}, the outcome window at the end of the log, in minutes, hours, days, weeks or steps (e.g. {value: 24, unit: 'hours'}). signals (required): a number of SNAPSHOTS (1, 3, 7 or 30); a snapshot's outcome is 1 when an event starts within that many snapshots, so 3 at 6h is 18 hours.",
                "anyOf": [
                  {
                    "anyOf": [
                      {
                        "type": "number",
                        "const": 1
                      },
                      {
                        "type": "number",
                        "const": 3
                      },
                      {
                        "type": "number",
                        "const": 7
                      },
                      {
                        "type": "number",
                        "const": 30
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "integer",
                        "exclusiveMinimum": 0,
                        "maximum": 9007199254740991
                      },
                      "unit": {
                        "type": "string",
                        "enum": [
                          "minutes",
                          "hours",
                          "days",
                          "weeks",
                          "steps"
                        ]
                      }
                    },
                    "required": [
                      "value",
                      "unit"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              "min_history": {
                "description": "signals: readings a snapshot needs (3, 5 or 10; default 3). panel: periods a case needs (2, 3, 5 or 8).",
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "as_of": {
                "description": "events, signals: the end of the log, ISO-8601 (or a whole step, with unit steps). Default: the latest time in the data.",
                "type": "string",
                "minLength": 1,
                "maxLength": 40
              },
              "snapshots": {
                "description": "snapshots (required): the snapshot table, one row per case at the moment it is scored (a deal as it entered each stage), with the same entity column as the event log, a snapshot id, the snapshot's time and the outcome. Exactly one of dataset_id, rows, csv, fetch_url.",
                "type": "object",
                "properties": {
                  "dataset_id": {
                    "description": "A dataset from dg_add_dataset, or a sample.",
                    "type": "string",
                    "minLength": 1
                  },
                  "rows": {
                    "minItems": 1,
                    "maxItems": 10000,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "csv": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 3000000
                  },
                  "fetch_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "fetch_headers": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "type": "string"
                    }
                  }
                },
                "additionalProperties": false
              },
              "snapshot_id_column": {
                "description": "snapshots (required): the snapshot table's id column; cases.ids name snapshots by it.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "snapshot_time_column": {
                "description": "snapshots (required): when each snapshot was taken. Each snapshot's features count events at or before this moment.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "outcome_time_column": {
                "description": "snapshots: when each snapshot's outcome happened. A snapshot taken at or after its own outcome is left out and counted.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              }
            },
            "required": [
              "kind"
            ],
            "additionalProperties": false
          },
          "band": {
            "description": "Advanced. Adds band (act, escalate, refuse), band_reason and max_autonomy to each case.",
            "type": "boolean"
          },
          "acknowledge_decision_support": {
            "description": "Required true when subject_kind is person: results are decision support, with a human in the loop.",
            "type": "boolean"
          },
          "export": {
            "description": "csv adds export.results_url: a CSV of every case (chance, level or choice, reasons), downloadable for 24 hours. The answer itself is unchanged.",
            "type": "string",
            "enum": [
              "csv"
            ]
          },
          "model_ttl_days": {
            "description": "How long a model this call FITS stays usable, in days (1 to 365; default 90). A question answered from an existing fit keeps that model's own expiry. Every answer states model_expires_at; dg_extend_model renews a model.",
            "type": "integer",
            "minimum": 1,
            "maximum": 365
          },
          "group_column": {
            "description": "For a table with several rows per case (the same deal at each stage, all with that deal's outcome): the column naming the case each row belongs to. The fit then holds out whole cases, so its held-out numbers are about cases it never saw. Tables only; the snapshots shape sets it itself.",
            "type": "string",
            "minLength": 1
          },
          "namespace": {
            "description": "Keeps this call's models apart from the rest of the workspace, e.g. one namespace per customer of your product. A model fitted in a namespace answers only there, and usage is recorded per namespace. Omit for the workspace's own models.",
            "type": "string",
            "pattern": "^[a-z0-9][a-z0-9_-]{0,63}$"
          },
          "idempotency_key": {
            "description": "A retry with the same key returns the first call's answer without fitting or billing again (keys are kept 24 hours).",
            "type": "string",
            "minLength": 1,
            "maxLength": 128
          }
        },
        "required": [
          "entity_column",
          "subject_kind",
          "questions"
        ],
        "additionalProperties": false,
        "$defs": {
          "__schema0": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "column": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "op": {
                    "type": "string",
                    "enum": [
                      "==",
                      "!=",
                      "<",
                      "<=",
                      ">",
                      ">=",
                      "in"
                    ]
                  },
                  "value": {
                    "anyOf": [
                      {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "number"
                          },
                          {
                            "type": "boolean"
                          }
                        ]
                      },
                      {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            },
                            {
                              "type": "boolean"
                            }
                          ]
                        }
                      }
                    ]
                  }
                },
                "required": [
                  "column",
                  "op",
                  "value"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "all": {
                    "minItems": 1,
                    "maxItems": 16,
                    "type": "array",
                    "items": {
                      "$ref": "#/$defs/__schema0"
                    }
                  }
                },
                "required": [
                  "all"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "any": {
                    "minItems": 1,
                    "maxItems": 16,
                    "type": "array",
                    "items": {
                      "$ref": "#/$defs/__schema0"
                    }
                  }
                },
                "required": [
                  "any"
                ],
                "additionalProperties": false
              }
            ]
          }
        }
      },
      "dg_ask_output": {
        "type": "object",
        "properties": {
          "status": {
            "description": "pending: the first fit on a large record is still running; dg_poll with task_id returns the result.",
            "type": "string",
            "enum": [
              "done",
              "pending"
            ]
          },
          "task_id": {
            "type": "string"
          },
          "retry_after_ms": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "stage": {
            "description": "pending only: how far the task has got.",
            "type": "string",
            "enum": [
              "reading_data",
              "reading_shape",
              "asking"
            ]
          },
          "elapsed_ms": {
            "description": "pending only: time since the call was made.",
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "page": {
            "description": "Only when the answer is larger than one MCP response: this response is its first page.",
            "type": "object",
            "properties": {
              "next_cursor": {
                "description": "Absent on the last page. dg_page with this cursor returns the next page.",
                "type": "string"
              },
              "answer_url": {
                "description": "The whole answer as JSON (what REST returns), Verdicts included. Valid 24 hours; the link is the credential.",
                "type": "string"
              },
              "expires_at": {
                "type": "string"
              }
            },
            "required": [
              "answer_url",
              "expires_at"
            ],
            "additionalProperties": {}
          },
          "export": {
            "description": "With export: csv, a download of every case as CSV. Valid 24 hours; the link is the credential.",
            "type": "object",
            "properties": {
              "format": {
                "type": "string",
                "const": "csv"
              },
              "results_url": {
                "type": "string"
              },
              "expires_at": {
                "type": "string"
              }
            },
            "required": [
              "format",
              "results_url",
              "expires_at"
            ],
            "additionalProperties": {}
          },
          "contract": {
            "type": "string"
          },
          "core_hash": {
            "type": "string"
          },
          "record": {
            "type": "object",
            "properties": {
              "content_hash": {
                "type": "string"
              }
            },
            "required": [
              "content_hash"
            ],
            "additionalProperties": {}
          },
          "answers": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "yesno",
                    "score",
                    "choice",
                    "rank"
                  ]
                },
                "state": {
                  "description": "The answer's status, the first field that matters. answered: the record supports an answer. refused: the record holds no pattern that holds on held-out rows; the same call returns the same refusal. not_yet: too few labeled rows; needs.labeled_rows says how many more.",
                  "type": "string",
                  "enum": [
                    "answered",
                    "refused",
                    "not_yet"
                  ]
                },
                "cache": {
                  "type": "string",
                  "enum": [
                    "hit",
                    "miss"
                  ]
                },
                "model_ref": {
                  "type": "string"
                },
                "model_refs": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "string"
                  }
                },
                "model_expires_at": {
                  "description": "When this answer's model stops answering, ISO-8601 UTC. For choice, the earliest of its models. dg_extend_model renews it.",
                  "type": "string"
                },
                "polarity": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "quality": {
                  "description": "How the model was measured: realised_lift, top_decile_lift, validation_scheme, confidence_tier, and held_out {whole_cases_by} when every row of one case was held out together (the accuracy is on cases the model never saw).",
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                },
                "model_columns": {
                  "description": "yesno, score and rank: every column a case must carry for this model, in your column names. A scheduled job scoring by model_ref sends these.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "pattern": {
                  "description": "The pattern the model found: the conditions under which the outcome is most common in the record, with their cut points. Describes the group, not a rule; each case's pattern_match says how many it meets. Not on choice.",
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "feature_label": {
                        "type": "string"
                      },
                      "at_least": {
                        "type": "number"
                      },
                      "above": {
                        "type": "number"
                      },
                      "at_most": {
                        "type": "number"
                      },
                      "below": {
                        "type": "number"
                      },
                      "one_of": {
                        "type": "array",
                        "items": {}
                      },
                      "not_one_of": {
                        "type": "array",
                        "items": {}
                      },
                      "one_of_more": {
                        "description": "How many more values the group holds than one_of lists (lists stop at 25).",
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      "not_one_of_more": {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      "text": {
                        "description": "The same bounds in words, e.g. \"tenure_months 9 to under 17\" (numbers to 6 significant digits).",
                        "type": "string"
                      },
                      "missing_matches": {
                        "description": "A blank value counts as meeting this condition.",
                        "type": "boolean",
                        "const": true
                      }
                    },
                    "required": [
                      "feature_label",
                      "text"
                    ],
                    "additionalProperties": {}
                  }
                },
                "cases": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity_id": {
                        "type": "string"
                      },
                      "p": {
                        "description": "The chance, 0 to 1. For choice, a map of option to chance.",
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "type": "number"
                            }
                          }
                        ]
                      },
                      "level": {
                        "type": "string"
                      },
                      "most_likely": {
                        "description": "choice only. The option with the highest chance of the outcome.",
                        "type": "string"
                      },
                      "least_likely": {
                        "description": "choice only. The option with the lowest chance of the outcome.",
                        "type": "string"
                      },
                      "choice": {
                        "description": "choice only. The best option: most_likely for an outcome you want, least_likely for one you avoid.",
                        "type": "string"
                      },
                      "position": {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      "reasons": {
                        "maxItems": 4,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "feature_label": {
                              "type": "string"
                            },
                            "value": {},
                            "likelihood_direction": {
                              "type": "string",
                              "enum": [
                                "higher",
                                "lower"
                              ]
                            },
                            "strength": {
                              "type": "string",
                              "enum": [
                                "strong",
                                "moderate"
                              ]
                            },
                            "association_not_causal": {
                              "type": "boolean",
                              "const": true
                            },
                            "range": {
                              "description": "The range this case's value fell in, as the model scores it: every value in the range moves the chance the same way, and crossing a bound changes it. missing: the value was blank. unseen: a category the model never saw.",
                              "type": "object",
                              "properties": {
                                "at_least": {
                                  "type": "number"
                                },
                                "above": {
                                  "type": "number"
                                },
                                "at_most": {
                                  "type": "number"
                                },
                                "below": {
                                  "type": "number"
                                },
                                "one_of": {
                                  "type": "array",
                                  "items": {}
                                },
                                "not_one_of": {
                                  "type": "array",
                                  "items": {}
                                },
                                "one_of_more": {
                                  "description": "How many more values the group holds than one_of lists (lists stop at 25).",
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "not_one_of_more": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "text": {
                                  "description": "The same bounds in words, e.g. \"tenure_months 9 to under 17\" (numbers to 6 significant digits).",
                                  "type": "string"
                                },
                                "missing": {
                                  "type": "boolean",
                                  "const": true
                                },
                                "unseen": {
                                  "type": "boolean",
                                  "const": true
                                }
                              },
                              "required": [
                                "text"
                              ],
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "feature_label",
                            "likelihood_direction",
                            "strength",
                            "association_not_causal"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "pattern_match": {
                        "description": "How many of the answer's pattern conditions this case meets. Absent when the case lacks a column the pattern uses.",
                        "type": "object",
                        "properties": {
                          "matched": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "of": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "met": {
                            "description": "The feature_label of each pattern condition this case meets.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "matched",
                          "of",
                          "met"
                        ],
                        "additionalProperties": {}
                      },
                      "levers": {
                        "description": "Changes that would move this case's chance, when the engine found any. Associations, not causes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "feature_label": {
                              "type": "string"
                            },
                            "direction": {
                              "type": "string"
                            },
                            "lever_token": {
                              "description": "Opaque. dg_attest takes it to record an action on this lever.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "feature_label",
                            "direction"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "refused": {
                        "type": "boolean"
                      },
                      "refused_reason": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "entity_id",
                      "p",
                      "reasons"
                    ],
                    "additionalProperties": {}
                  }
                },
                "ranked": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "entity_id": {
                        "type": "string"
                      },
                      "p": {
                        "description": "The chance, 0 to 1. For choice, a map of option to chance.",
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {
                              "type": "number"
                            }
                          }
                        ]
                      },
                      "level": {
                        "type": "string"
                      },
                      "most_likely": {
                        "description": "choice only. The option with the highest chance of the outcome.",
                        "type": "string"
                      },
                      "least_likely": {
                        "description": "choice only. The option with the lowest chance of the outcome.",
                        "type": "string"
                      },
                      "choice": {
                        "description": "choice only. The best option: most_likely for an outcome you want, least_likely for one you avoid.",
                        "type": "string"
                      },
                      "position": {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      "reasons": {
                        "maxItems": 4,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "feature_label": {
                              "type": "string"
                            },
                            "value": {},
                            "likelihood_direction": {
                              "type": "string",
                              "enum": [
                                "higher",
                                "lower"
                              ]
                            },
                            "strength": {
                              "type": "string",
                              "enum": [
                                "strong",
                                "moderate"
                              ]
                            },
                            "association_not_causal": {
                              "type": "boolean",
                              "const": true
                            },
                            "range": {
                              "description": "The range this case's value fell in, as the model scores it: every value in the range moves the chance the same way, and crossing a bound changes it. missing: the value was blank. unseen: a category the model never saw.",
                              "type": "object",
                              "properties": {
                                "at_least": {
                                  "type": "number"
                                },
                                "above": {
                                  "type": "number"
                                },
                                "at_most": {
                                  "type": "number"
                                },
                                "below": {
                                  "type": "number"
                                },
                                "one_of": {
                                  "type": "array",
                                  "items": {}
                                },
                                "not_one_of": {
                                  "type": "array",
                                  "items": {}
                                },
                                "one_of_more": {
                                  "description": "How many more values the group holds than one_of lists (lists stop at 25).",
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "not_one_of_more": {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                "text": {
                                  "description": "The same bounds in words, e.g. \"tenure_months 9 to under 17\" (numbers to 6 significant digits).",
                                  "type": "string"
                                },
                                "missing": {
                                  "type": "boolean",
                                  "const": true
                                },
                                "unseen": {
                                  "type": "boolean",
                                  "const": true
                                }
                              },
                              "required": [
                                "text"
                              ],
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "feature_label",
                            "likelihood_direction",
                            "strength",
                            "association_not_causal"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "pattern_match": {
                        "description": "How many of the answer's pattern conditions this case meets. Absent when the case lacks a column the pattern uses.",
                        "type": "object",
                        "properties": {
                          "matched": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "of": {
                            "type": "integer",
                            "minimum": -9007199254740991,
                            "maximum": 9007199254740991
                          },
                          "met": {
                            "description": "The feature_label of each pattern condition this case meets.",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        },
                        "required": [
                          "matched",
                          "of",
                          "met"
                        ],
                        "additionalProperties": {}
                      },
                      "levers": {
                        "description": "Changes that would move this case's chance, when the engine found any. Associations, not causes.",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "feature_label": {
                              "type": "string"
                            },
                            "direction": {
                              "type": "string"
                            },
                            "lever_token": {
                              "description": "Opaque. dg_attest takes it to record an action on this lever.",
                              "type": "string"
                            }
                          },
                          "required": [
                            "feature_label",
                            "direction"
                          ],
                          "additionalProperties": {}
                        }
                      },
                      "refused": {
                        "type": "boolean"
                      },
                      "refused_reason": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "entity_id",
                      "p",
                      "reasons"
                    ],
[...]
