{
  "openapi": "3.1.0",
  "info": {
    "title": "Datagoat API",
    "version": "1.9.0",
    "description": "Ask yes/no, score, choice and rank questions about cases. Datagoat answers from what happened to cases like them: deterministic, with reasons, signed, and it refuses rather than guess. MCP: https://api.datagoat.io/mcp\n\n## Which journey\n\nFive journeys organise the operations: each operation is tagged with the journeys that use it, https://api.datagoat.io/journeys.arazzo.yaml has each journey as an Arazzo 1.1.0 workflow, and `describe` lists them with ready-to-run calls.\n\n| Journey | Fits when the user… | Not when… | First call |\n|---|---|---|---|\n| [Try it](https://datagoat.io/docs/quickstart) | has no data yet, or wants to see an answer and a refusal before using their own | they already have a table of past cases (Ask your data) | `dg_describe`, then `dg_ask` (a sample's ready-to-run ask) |\n| [Ask your data](https://datagoat.io/docs/ask-your-data) | has a table of past cases with a yes/no outcome (churned, converted, faulted) and a question about it | they will score cases for many customers of their own product (Ship a product) | `dg_add_dataset` (upload: true, one per source), then `dg_map` (returns the ask; dg_backtest and dg_ask follow; a schedule needs fetch_url sources) |\n| [Ship a product](https://datagoat.io/docs/build) | will score many customers' cases repeatedly, on a schedule, inside their own product | it is a one-off question about one table (Ask your data) | `dg_ask` (with namespace and model_ttl_days), then `dg_ask` (by model_ref, no fit) |\n| [Run it](https://datagoat.io/docs/run) | already has a model_ref in use and is learning what happened to the cases it scored | no model has been fitted yet (Ask your data) | `dg_report_outcomes`, then `dg_schedule` (or refit_of + dg_drift by hand) |\n| [Prove it](https://datagoat.io/docs/prove) | must show someone the calls were right, or measure whether acting on them worked | they only need the answer (Ask your data) | `dg_verify`, then `dg_track_record` (or dg_evidence, whether acting on the calls worked) |\n\nOperations by journey: Try it: dg_describe, dg_ask, dg_verify, dg_map, dg_backtest; Ask your data: dg_add_dataset, dg_map, dg_backtest, dg_suggest, dg_preflight, dg_ask, dg_poll, dg_page; Ship a product: dg_ask, dg_profile, dg_extend_model, dg_delete_model, dg_map; Run it: dg_report_outcomes, dg_schedule, dg_delete_schedule, dg_drift, dg_extend_model, dg_delete_model; Prove it: dg_verify, dg_backtest, dg_attest, dg_report_outcomes, dg_evidence, dg_track_record.",
    "contact": {
      "url": "https://datagoat.io"
    }
  },
  "servers": [
    {
      "url": "https://api.datagoat.io"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "tags": [
    {
      "name": "Try it",
      "description": "Fits when the user has no data yet, or wants to see an answer and a refusal before using their own. Not when they already have a table of past cases.",
      "externalDocs": {
        "url": "https://datagoat.io/docs/quickstart"
      }
    },
    {
      "name": "Ask your data",
      "description": "Fits when the user has a table of past cases with a yes/no outcome (churned, converted, faulted) and a question about it. Not when they will score cases for many customers of their own product.",
      "externalDocs": {
        "url": "https://datagoat.io/docs/ask-your-data"
      }
    },
    {
      "name": "Ship a product",
      "description": "Fits when the user will score many customers' cases repeatedly, on a schedule, inside their own product. Not when it is a one-off question about one table.",
      "externalDocs": {
        "url": "https://datagoat.io/docs/build"
      }
    },
    {
      "name": "Run it",
      "description": "Fits when the user already has a model_ref in use and is learning what happened to the cases it scored. Not when no model has been fitted yet.",
      "externalDocs": {
        "url": "https://datagoat.io/docs/run"
      }
    },
    {
      "name": "Prove it",
      "description": "Fits when the user must show someone the calls were right, or measure whether acting on them worked. Not when they only need the answer.",
      "externalDocs": {
        "url": "https://datagoat.io/docs/prove"
      }
    },
    {
      "name": "Other",
      "description": "Operations outside the five journeys' main path."
    }
  ],
  "paths": {
    "/v1/ask": {
      "post": {
        "operationId": "dg_ask",
        "summary": "Ask",
        "description": "For a question about cases from a record of past outcomes (a table, a log, a series), or scoring new cases from an existing model_ref; the questions worth trying on an unfamiliar table come from dg_suggest instead. Answers typed questions about cases from a record of past outcomes. A call sends the record (data), questions keyed by id, and the cases to answer; answers return keyed by the same ids. Question types: yesno (the chance the outcome happens), score (that chance as a level: unlikely, possible, likely, very_likely), choice (the best option for each case, with each option's chance, most_likely and least_likely; choice is the only type that needs outcome_is_desirable), rank (cases in order of the chance). Questions about one record can share one call, and questions on the same outcome and outcome_is_desirable share one fit. The record can be a table (one row per case) or, with shape, an event log, a time series, a panel, sensor signals, agent traces, or snapshots (an event log read as of each moment in a snapshot table, e.g. a deal at each stage). Building a product: namespace keeps each of your customers' models and usage apart; model_ttl_days (1 to 365) sets how long a fitted model answers; a question that names model_ref instead of outcome_column scores new cases from that model with no fit (send cases.rows, or a newer record and cases.ids), and every answer lists model_columns, the columns its model reads. Each answer has a state: answered; refused (the record holds no pattern that holds on held-out rows, and the same call returns the same refusal); or not_yet (too few labeled rows or positives; needs gives how many more of each, and reasons name what is short). A case the model cannot read (a column it reads is absent, or a value it never saw) comes back as state not_scoreable, naming them, with no chance; it bills nothing. An answered question carries, per case, p and up to four reasons (feature_label, value, likelihood_direction, strength, and range: the band of values the case's value fell in, e.g. \"tenure_months 9 to under 17\"), and a signed Verdict covering its cases. yesno, score and rank answers also carry pattern: the conditions, with cut points, under which the outcome is most common (e.g. \"support_tickets over 3\"), and per case pattern_match {matched, of, met}. Reasons and patterns are associations, not causes; likelihood_direction is the direction the chance moved, not whether that is good news. Answers are deterministic: the same record and question give the same answer. A first fit on a large record returns status pending with a task_id for dg_poll. Over MCP, an answer larger than one tool result (about 60,000 characters, roughly 60 cases with their Verdict) returns its first page: each list carries page {offset, returned, total}, page.next_cursor leads to the rest through dg_page, and page.answer_url downloads the whole answer as JSON. export: csv adds a CSV download of every case. response_format concise leaves the Verdicts out of the response (verdicts_withheld says how many); they stay in the full answer at page.answer_url, and states, chances and reasons are the same. response_format compact also shows each case as entity_id, p, p_display and, when the answer has them, band, level and says: about a twentieth of the full size, for scoring many cases. Free to try on the samples, e.g. data.dataset_id sample:saas_churn, entity_column customer_id, outcome_column churned, cases {ids: [\"cust_0001\"]}. Cost: one decision per answered case, and a fit the first time a record is asked about or when a question names refit_of (1,000 free fits a month, then $0.01 each); refusals and not_yet bill no decisions, and the samples are free",
        "tags": [
          "Try it",
          "Ask your data",
          "Ship a product"
        ],
        "x-dg-cost": "one decision per answered case; the first ask on a record, or a question with refit_of, also runs a fit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_ask_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_ask_output"
                }
              }
            }
          },
          "202": {
            "description": "Pending: the first fit is still running; dg_poll with task_id returns the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_ask_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/add-dataset": {
      "post": {
        "operationId": "dg_add_dataset",
        "summary": "Add a dataset",
        "description": "For a record asked about more than once, or too large to send inline; a one-off ask can carry its record inline (data.rows, data.csv or data.fetch_url on dg_ask) instead. Stores a record (any shape) so later asks can name it by dataset_id. Free. Takes rows or csv (up to 10,000 rows or 3,000,000 characters, and 4.5 MB, per call), a fetch_url to download (up to 50 MB), or upload: true for large files: it returns upload_page, a link a person opens in a browser to drop in a CSV of up to 250 MB (valid one hour), upload_pieces_url, where a program POSTs the file in pieces of up to 4 MB on api.datagoat.io itself (each piece to <upload_pieces_url>/<index> from 0, then <upload_pieces_url>/complete), and upload_url, a presigned URL on the storage host a program may PUT the file to instead. A gzip-compressed CSV or a Parquet file (recognised by its bytes) is passed to the engine as it is, by fetch_url or upload, and the dataset then reports rows and columns as null. Calling again with the returned dataset_id and more rows appends a piece; pieces append in order until the first ask or preflight seals the dataset, and a piece with different columns is refused. Returns dataset_id, status (ready | open | awaiting_upload), rows and columns. A stored dataset is deleted 24 hours after it was last used, or at once with dg_delete_dataset",
        "tags": [
          "Ask your data"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_add_dataset_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_add_dataset_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/poll": {
      "post": {
        "operationId": "dg_poll",
        "summary": "Poll a task",
        "description": "For an ask or a backtest that came back with status pending and a task_id; the later pages of a finished answer come from dg_page instead. Free. Returns the current status of a pending task (a first ask on a large record, or a backtest): status pending (with stage and elapsed_ms) until it finishes, then the same object the original call would have returned, paged the same way over MCP. retry_after_ms is the suggested wait between polls. Re-sending the original call instead would start a second fit. response_format compact shows the finished answer's cases compact, as on dg_ask. Results are kept for 24 hours",
        "tags": [
          "Ask your data"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_poll_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_poll_output"
                }
              }
            }
          },
          "202": {
            "description": "Pending: the first fit is still running; dg_poll with task_id returns the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_poll_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/preflight": {
      "post": {
        "operationId": "dg_preflight",
        "summary": "Check a table before asking",
        "description": "For checking one table before its first ask, deprecated and served until contract 2.0.0; the list of questions a table could be asked comes from dg_suggest instead, and on the same table dg_map reports the same and more. Free; fits nothing. Reports whether a table is worth asking about before the first ask: grain (whether one row is one kind of thing), resolutions (what each column's values are; an ambiguous column is not a sound predictor), and fitness (positives per usable predictor over labeled rows). blocking entries mean an answer from this table would not be believable; advisory entries are worth reading. It reports and refuses nothing, and a clean preflight does not promise a pattern exists. Like an ask, it seals a dataset still taking pieces. Tables only",
        "tags": [
          "Ask your data"
        ],
        "deprecated": true,
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_preflight_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_preflight_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/report-outcomes": {
      "post": {
        "operationId": "dg_report_outcomes",
        "summary": "Report what happened",
        "description": "For outcomes that arrived for cases a model_ref answered; an action taken on a case is recorded with dg_attest instead. Free. Records the real outcome for cases answered under a model_ref: outcome is yes/no (0/1, true/false), observed_at is when it was observed, event_id is the caller's idempotency key. Outcomes are evidence about the model's track record; they do not change a model or an answer. A batch is all or nothing: one bad row writes nothing, and the invalid_outcomes problem lists every bad row by index; with partial: true the valid rows are written and results reports each row. Needs the write:outcomes capability: a person signed in through an MCP host has it; an API key has it when created with \"Can report outcomes\"",
        "tags": [
          "Run it",
          "Prove it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_report_outcomes_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_report_outcomes_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/drift": {
      "post": {
        "operationId": "dg_drift",
        "summary": "Has the pattern moved?",
        "description": "For deciding whether a refitted model is kept, replaced or abandoned; how a model's calls fared against reported outcomes is dg_track_record instead. Free. For a model_ref from an ask that named refit_of, compares the new fit with the old: pattern is unchanged | changed | no_prior, and recommendation is keep | refit | abandon | no_check_yet (nothing has been compared yet, so it is no reason to renew a model). The chain is built by asking again on the new version of a record with refit_of set to the previous model_ref. refit_quality compares the two fits' held-out lift (a refit that measures worse is keep, not refit), keep_model_ref names the model to go on using, and note_code with note says why when the engine gave a reason. A single refusal on a refresh is not drift",
        "tags": [
          "Run it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_drift_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_drift_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/verify": {
      "post": {
        "operationId": "dg_verify",
        "summary": "Verify a Verdict",
        "description": "For checking a Verdict before anyone relies on it; the SDKs' verify_offline checks the same signature with no call to Datagoat. Free, and needs no key over REST. Checks that a Verdict is genuine and unaltered. Takes the verdict and signature exactly as received (re-serialising them breaks the signature). Returns status: valid | invalid_signature | expired | unknown_key. An expired Verdict is stale and its question can be asked again. An answer's Verdicts and a backtest's (kind backtest, which has no expiry) are checked the same way. Public keys: https://api.datagoat.io/.well-known/jwks.json",
        "tags": [
          "Try it",
          "Prove it"
        ],
        "x-dg-cost": "free",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_verify_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_verify_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/describe": {
      "post": {
        "operationId": "dg_describe",
        "summary": "What Datagoat can do",
        "description": "For a first contact, or a caller with no data yet: the five journeys, each with when it fits and its first call, and start, the journey for this caller; answering a question is dg_ask instead. Free. Lists the five journeys (try it, ask your data, ship a product, run it, prove it) with their docs, skills and operations; the question types, record shapes, answer states, limits, prices, retention, the documentation pages, and the free sample records, each with a ready-to-run ask",
        "tags": [
          "Try it"
        ],
        "x-dg-cost": "free",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_describe_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_describe_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delete-dataset": {
      "post": {
        "operationId": "dg_delete_dataset",
        "summary": "Delete a dataset",
        "description": "For removing a stored record now rather than 24 hours after its last use; a fitted model is removed with dg_delete_model instead. Free. Deletes a stored dataset now: its rows are removed from storage and its dataset_id stops working. Fitted models hold no rows and are not affected. Without this call a dataset is deleted 24 hours after it was last used",
        "tags": [
          "Other"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_delete_dataset_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_delete_dataset_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/attest": {
      "post": {
        "operationId": "dg_attest",
        "summary": "Record an action",
        "description": "For recording that a case was acted on through one of its levers; what then happened to the case is dg_report_outcomes instead. Free. Records that a case was acted on through one of its levers, so dg_evidence can compare cases acted on with cases not acted on. Takes the model_ref of the answer, the case's entity_id, the lever_token from that case's levers, the feature's new value after the action (post_value) and when the action happened (acted_at). The engine checks the new value against the lever's target, which the token carries sealed, and returns compliant, dose_fraction (how far the case moved toward the target: 1 reached it, above 1 went past it, below 0 moved away, absent when it cannot be measured; with the case's earlier value, one dose shows where the target lies) and evaluated_feature (the feature the token checks). Each lever is one feature with its own lever_token; a lever on a category column carries to_one_of, the values that count as acting on it. Only compliant actions count as acted; a non-compliant one leaves the case in neither group. Idempotent by event_id. Needs the write:outcomes capability: a person signed in through an MCP host has it; an API key has it when created with \"Can report outcomes\"",
        "tags": [
          "Prove it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_attest_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_attest_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/evidence": {
      "post": {
        "operationId": "dg_evidence",
        "summary": "Did acting work?",
        "description": "For measuring whether acting on the answers changed outcomes; whether the calls themselves were right is dg_track_record instead. Free. For a model_ref, compares the reported outcomes of cases that were acted on (a compliant dg_attest) with cases that were not. live is null until each group has 30 cases with a reported outcome; then it gives n_acted, n_not_acted, rate_acted, rate_not_acted, diff and its confidence interval (ci_low, ci_high), with small_n true below 100 per group. progress always counts cases with an outcome, acted and not acted, so the gap to the floor is visible. The comparison is observational: acted cases were chosen, not randomised",
        "tags": [
          "Prove it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_evidence_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_evidence_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/track-record": {
      "post": {
        "operationId": "dg_track_record",
        "summary": "How the model's calls held up",
        "description": "For showing whether a model's calls were right; whether acting on them worked is dg_evidence instead. Free. For a model_ref, sets what the model said about each case against what then happened (the outcomes sent with dg_report_outcomes). Each outcome is paired with the latest answer about that case given on or before the day it was observed; an outcome with no earlier answer is counted in outcomes_without_an_earlier_answer, not paired. overall, and each entry of by_band, by_level and by_chance, give calls, happened, observed_rate, its 95% interval (interval_95) and mean_chance, the average chance the model gave: a calibrated model's observed_rate sits near its mean_chance. A case reported more than once counts once, with its latest outcome. small_n is true below 100 calls. Kept: yesno and score answers, and the top_k cases of a rank (so a rank's by_chance leans high); choice answers are not kept. Answers are kept from records_since on",
        "tags": [
          "Prove it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_track_record_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_track_record_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/profile": {
      "post": {
        "operationId": "dg_profile",
        "summary": "A namespace's profile",
        "description": "For the words, excluded columns, fixed columns (no lever offered) and display of one namespace (one of a builder's customers), set once; the answers themselves come from dg_ask. Free. The profile of a namespace (one of your customers): the words its answers use, columns never used, columns no lever touches, and what its end users see. Sent with words, exclude, fixed or display, it replaces the whole profile (a field left out is reset); sent with only namespace (or nothing, for the workspace itself), it returns the current one. words: case (what a case is called, e.g. customer), outcome (the outcome in plain words, e.g. cancels), columns (a phrase per column, e.g. {\"tenure_months\": \"months as a customer\"}). exclude: columns of a table record that no fit in this namespace uses (a new fit, so a new model_ref); the columns that frame a question (outcome, entity, time, group) and columns the record lacks are left out of it, and a shaped record or a model_ref question is not affected (the answer's profile.exclusions_applied says whether they were used). fixed: columns an action never changes (tenure, age, a signup date); the model still reads them, no lever is offered on them, and answers list them in excluded_columns with why fixed_by_caller. display: chance (default) or bands; with bands, the sentence each case carries names its band, and the answer says display bands, a signal for an end-user surface to show bands only (the API still returns every chance). Each answer in the namespace then carries profile {hash, display, exclusions_applied} and, per case, says: one sentence built from these words and the engine's own values, verbatim (the chance as its p_display, e.g. 70%); none on a case the engine declined (refused: true). Each Verdict names the profile's hash.",
        "tags": [
          "Ship a product"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_profile_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_profile_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/page": {
      "post": {
        "operationId": "dg_page",
        "summary": "Next page of an answer",
        "description": "For the rest of an answer that came back paged over MCP (page.next_cursor); an ask still running is dg_poll instead, and the whole answer at once is page.answer_url. Free. Returns the next page of an answer that was too large for one response, from page.next_cursor. Each answer in the page keeps its type, state and model_ref, and its list (cases, or ranked for rank) carries page {offset, returned, total}. Pages are slices of the stored answer in its original order; the last page has no next_cursor. response_format is chosen per call: a cursor names a place in the stored answer, not a format, so the same cursor gives full or compact cases. Cursors last as long as the answer: 24 hours",
        "tags": [
          "Ask your data"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_page_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_page_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/suggest": {
      "post": {
        "operationId": "dg_suggest",
        "summary": "Which questions are worth trying on this table?",
        "description": "For an unfamiliar table: the yes/no questions worth trying on it; asking one is dg_ask, and turning the table (or a log) into a record to ask about, with a report on its columns, is dg_map. Free; fits nothing. Lists the yes/no questions a table could be asked, worth trying first, and says for each whether it is worth asking. Candidates are the table's two-valued columns (converted, churned, lapsed), plus, with include_categories, each value of a column with 3 to 8 values (plan = pro). Each candidate carries outcome_column, positive_values, the share of rows that are yes (prevalence), worth_asking (the engine's quick check that the record holds enough distinct patterns to try; it runs no fit), defined_by (columns that on their own almost completely determine the outcome, so the question restates the data rather than predicts it) and a ready-to-send question. worth_asking is a screen, not an answer: measured on 267 candidate questions across 15 records, it passed 60 of the 65 that dg_ask answered, and about half of the questions it passes are answered. Tables only; entity_column and time_column are never candidates",
        "tags": [
          "Ask your data"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_suggest_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_suggest_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/extend-model": {
      "post": {
        "operationId": "dg_extend_model",
        "summary": "Keep a model longer",
        "description": "For keeping a model answering past its model_expires_at, typically after dg_drift says keep; a model no longer wanted is removed with dg_delete_model instead. Free. Sets a model to expire the given number of days from now (1 to 365), so it keeps answering model_ref questions without a new fit. An expired model cannot be renewed. Returns model_ref and model_expires_at. A model holds cut points and the category values it groups, never rows",
        "tags": [
          "Ship a product",
          "Run it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_extend_model_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_extend_model_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delete-model": {
      "post": {
        "operationId": "dg_delete_model",
        "summary": "Delete a model",
        "description": "For retiring a model now (dg_drift said abandon, or a customer left); a stored record is removed with dg_delete_dataset instead. Free. Deletes a model now: its model_ref stops answering, and outcome reports, attestations and evidence for it stop too (those already made stay in the engine's append-only ledger); its Verdicts can still be verified. Asking about the same record again fits (and counts) a new model. Deleting again returns the same result. Without this call a model stops answering when it expires. Needs the write:outcomes capability (a person signed in through an MCP host has it; an API key has it when created with \"Can report outcomes\")",
        "tags": [
          "Ship a product",
          "Run it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_delete_model_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_delete_model_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/map": {
      "post": {
        "operationId": "dg_map",
        "summary": "Map sources into a record",
        "description": "For turning what a person or product has (a table, a log, or logs with a table) into a record Datagoat can ask about: proposals with their multiplicity, one question per slot where two survive, honest-empty when none; the ask itself is dg_ask, and a question already chosen on one table is dg_preflight until 2.0. Free (a proposal and a confirm read the sources; neither is a fit). Takes one to three sources (dataset_id or fetch_url): one table, or one or two event logs with at most one table. Without answers it proposes and stores nothing: per source whether it is a table or a log, the columns that could name each case and its time column (each candidate with its gate's verdict and code), the outcomes it could be asked about (offers, each with offer_id, kind, code and why; with a log, an event type, the table's outcome time, or lapsed), the join of a table onto the logs, and questions: one per slot where two or more candidates survive, with its options. A slot with one survivor takes it; a slot with none is status empty with empty_reason. A single table also carries preflight's resolutions, fitness, blocking, advisory and case_variants. With answers it confirms: every question needs its answer (mapping_answers_incomplete names the slots), and the engine builds the record. With a log, each case is read every snapshot_every with the outcome looked for over the horizon; a reading whose horizon has not passed by as_of has no label yet, and each case's reading at as_of is today's open case. A table's numbers, flags and text are left out as as_of_export, and a column that on its own almost determines the outcome as restates_outcome. A confirm returns mapping_id, dataset_id, record (rows, entities, labelled and open cases, positives), manifest, open_cases and ask, a ready-to-run dg_ask on today's open cases (subject_kind is the caller's to add). A confirm whose outcome fails its gate at this horizon is status not_runnable, with the proposal. A new horizon on a record uses one of its three; a fourth is horizon_budget_exhausted. mapping_id replays a confirm: fetch_url sources are fetched and the record rebuilt; with closed_since it adds closed[], the readings whose outcome became known since. A proposal is never paged: 8 candidates or offers per slot, 3 samples per candidate, 64 resolutions per table (columns_omitted counts the rest), 50 open case ids. Free to try on the samples: sources sample:parley_events, sample:parley_tickets and sample:parley_billing",
        "tags": [
          "Try it",
          "Ask your data",
          "Ship a product"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_map_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_map_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/backtest": {
      "post": {
        "operationId": "dg_backtest",
        "summary": "What the record's past supports",
        "description": "For what a built record's own past supports: a fit at each past cutoff on what was known then, graded on what came next, against a naive rule; today's answer is dg_ask, and how live calls held up is dg_track_record. Walks forward over a record dg_map built from a log (data.dataset_id; or sample:parley_record): at each of the last cutoffs on the record's grid whose horizon has passed by its as_of (cutoffs.last, 3 to 12, default 6; cutoffs.every, default the record's snapshot_every), a fit on what was known then (the readings closed by the cutoff, on exactly the columns the mapping carried), graded on what came next for every case alive at the cutoff. Per cutoff: train and scored counts, state (graded, not_yet or refused with the fit's reasons), capture and lift at the top 10% and 20% of cases, calibration in ten bins, and the baseline: one numeric column ranked on its own (baseline single_column, the default), graded the same way. summary holds positives-weighted means over the graded cutoffs (nothing is pooled across windows), and decision is supported (at least 3 graded cutoffs with positives, lift at the top 10% at or above the engine's bar and above the baseline's), not_supported, or not_yet (fewer than 3 graded). Every number is the engine's; a signed Verdict of kind backtest covers them (dg_verify checks it). It is history, not a call about today: today's open cases are the mapping's ask. It runs as a task: status pending with a task_id for dg_poll and a watch_url, the stages loading, cutoff i of K and grading. A record that is not a built log record is dataset_not_built; a cutoffs.every finer than the record's snapshot_every, or not a multiple of it, is backtest_cutoffs_invalid. Cost: one fit per cutoff that ran (1,000 free fits a month, then $0.01 each); a cutoff fitted before on the same record is reused and free; free on sample:parley_record",
        "tags": [
          "Try it",
          "Ask your data",
          "Prove it"
        ],
        "x-dg-cost": "one fit per cutoff that ran (a cutoff fitted before on the same record is reused, free); no decisions; free on the sample record",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_backtest_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_backtest_output"
                }
              }
            }
          },
          "202": {
            "description": "Pending: the first fit is still running; dg_poll with task_id returns the result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_backtest_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/schedule": {
      "post": {
        "operationId": "dg_schedule",
        "summary": "Keep a mapping answered on a cadence",
        "description": "For keeping a confirmed mapping answered on a cadence: each run re-reads the sources, rebuilds the record, refits with refit_of, reads dg_drift, scores the open cases and reports the outcomes that closed; the same calls a person would make with dg_ask and dg_report_outcomes, made on time. Creates a schedule on a confirmed dg_map mapping whose sources are all fetch_url, and enqueues its first run (watch_url shows it). Each run makes, in order: map (the mapping replayed: every source fetched again, the record rebuilt, closed_since the last run), fit (the mapping's question on the new record: plain on the first run, then with refit_of the model in use; skipped, with no fit billed, when the record's labelled readings are the same as at the last fit, row for row, not just in number), drift (dg_drift on the refit), score (today's open cases, from the model in use), report (the outcomes that became known since the last run, from the replay's closed readings, each with event_id <mapping_id>:<entity>:<snapshot_at> and observed_at its label_observed_at, so a replayed report writes nothing twice). The policy is fixed: keep renews the kept model to the day after the next run (never further); refit switches to the new model; abandon stops the schedule. Every step is an ordinary Datagoat call with idempotency_key <run_id>:<step>, so a run stopped mid-step resumes at the next tick without billing twice. Runs are dispatched hourly, at most 10 at a time; cadence daily, weekly or monthly (a calendar month). A run halts the schedule (state halted, halt_code) when the workspace cannot be billed, when the key it runs as was revoked (credential_revoked), or when a source cannot be fetched (source_unreachable). Needs a live dgk_ API key created with \"Can report outcomes\" (schedule_key_required otherwise, including a sign-in over OAuth: a schedule runs as a key, which can be revoked); a test key is test_key_samples_only. The key's id and scopes and the sources' fetch headers (encrypted) are stored with the schedule and deleted with it (dg_delete_schedule). dg_describe lists schedules with their last run. The question is the mapping's yes/no question",
        "tags": [
          "Run it"
        ],
        "x-dg-cost": "each run bills the calls it makes: its fit (none when the record's labelled readings are unchanged) and its answered cases; the schedule itself is free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_schedule_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_schedule_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/delete-schedule": {
      "post": {
        "operationId": "dg_delete_schedule",
        "summary": "Delete a schedule",
        "description": "For ending a schedule and forgetting its stored credential and headers; the models and ledgers it made stay, as dg_delete_model and dg_track_record describe them. Free. Deletes a schedule now: no further run starts, and the key id, scopes and encrypted fetch headers stored with it are deleted. The mapping stays (with its own copy of the headers), and so do the models the schedule fitted and the outcomes it reported. Deleting again returns unknown_schedule. Needs the write:outcomes capability",
        "tags": [
          "Run it"
        ],
        "x-dg-cost": "free",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dg_delete_schedule_input"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_delete_schedule_output"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited: this workspace has used its requests for this minute. Retry-After and retry_after_ms say how long to wait.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/exports/{token}": {
      "get": {
        "operationId": "download_answer",
        "summary": "Download an answer",
        "description": "The link in export.results_url (CSV, one row per question per case) or page.answer_url (JSON, exactly the REST answer). The signed token is the credential, like a presigned URL: no key is sent, and it lasts 24 hours from when the answer finished. The body is streamed.",
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer as a file.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dg_ask_output"
                }
              }
            }
          },
          "404": {
            "description": "Not a link Datagoat issued, or altered (unknown_link).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "The answer is no longer kept (answer_expired).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks/{task_id}/events": {
      "get": {
        "operationId": "task_events",
        "summary": "Watch a pending ask",
        "description": "A pending ask's stages, with the key that asked, scoped to its workspace. Server-Sent Events (text/event-stream). The current stage first, with every fact so far; each later stage as the engine reports it (event stage: {task_id, stage, frac?, fit?, of?, facts {rows?, outcome?, training_rows?, held_out_rows?, bootstrap?}, message, elapsed_ms}); then one event answer per question ({task_id, question, state, decision, reasons?}) and done ({task_id, status, result_url?}), or error ({task_id, code, detail, remedy, doc_url}). No chance or finding crosses before the answer. Each event has an id; the stream closes at done or error or before about five minutes, and a client reconnecting with Last-Event-ID (or ?last_event_id=) gets only later events, while the task runs the stream always opens, with heartbeats until the next stage, and only a finished task whose done (or error) the client holds answers 204. A comment line every 15 seconds keeps it open. Guide: https://datagoat.io/docs/watching",
        "tags": [
          "Other"
        ],
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Last-Event-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The id of the last event received; only later events are sent."
          }
        ],
        "responses": {
          "200": {
            "description": "The event stream.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "204": {
            "description": "The client already holds every event (its Last-Event-ID is the done event)."
          },
          "404": {
            "description": "No such task in this workspace (unknown_task), or not a link Datagoat issued (unknown_link).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/watch/{token}/events": {
      "get": {
        "operationId": "watch_events",
        "summary": "Watch a pending ask by its watch link",
        "description": "The same events for the token in a pending answer's watch_url (https://datagoat.io/watch/<token>). The signed token is the credential: no key is sent, it opens one task, and it expires with the task's answer (410 watch_link_expired); done carries no result_url. Server-Sent Events (text/event-stream). The current stage first, with every fact so far; each later stage as the engine reports it (event stage: {task_id, stage, frac?, fit?, of?, facts {rows?, outcome?, training_rows?, held_out_rows?, bootstrap?}, message, elapsed_ms}); then one event answer per question ({task_id, question, state, decision, reasons?}) and done ({task_id, status, result_url?}), or error ({task_id, code, detail, remedy, doc_url}). No chance or finding crosses before the answer. Each event has an id; the stream closes at done or error or before about five minutes, and a client reconnecting with Last-Event-ID (or ?last_event_id=) gets only later events, while the task runs the stream always opens, with heartbeats until the next stage, and only a finished task whose done (or error) the client holds answers 204. A comment line every 15 seconds keeps it open. Guide: https://datagoat.io/docs/watching",
        "tags": [
          "Other"
        ],
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Last-Event-ID",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The id of the last event received; only later events are sent."
          }
        ],
        "responses": {
          "200": {
            "description": "The event stream.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "204": {
            "description": "The client already holds every event (its Last-Event-ID is the done event)."
          },
          "404": {
            "description": "No such task in this workspace (unknown_task), or not a link Datagoat issued (unknown_link).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "410": {
            "description": "The link has expired (watch_link_expired).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "The task's watch streams are at their limit (5 open at once, 60 opened a minute): watch_streams_limited, with retry_after_ms. A watch link never spends the workspace's own request budget.",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait."
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/register": {
      "post": {
        "operationId": "register_agent",
        "summary": "Get a free test key",
        "description": "No credential needed. Returns a dgk_test_ key that works on the sample datasets only. Rate-limited per address. For your own data, create a live key at https://datagoat.io/keys.",
        "security": [],
        "responses": {
          "201": {
            "description": "A test key, shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "api_key": {
                      "type": "string"
                    },
                    "mode": {
                      "const": "test"
                    },
                    "note": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "api_key",
                    "mode"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Problem",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "A dgk_live_ / dgk_test_ key, or an OAuth access token."
      }
    },
    "schemas": {
      "Problem": {
        "type": "object",
        "description": "RFC 9457 problem. `code` and `remedy` say what went wrong and what changes the outcome; `field` names the argument at fault; `doc_url` is the code's entry on https://datagoat.io/docs/errors.",
        "properties": {
          "type": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "remedy": {
            "type": "string"
          },
          "field": {
            "type": "string"
          },
          "request_id": {
            "type": "string",
            "description": "This request's id at Datagoat (also the x-request-id response header); quote it to support."
          },
          "engine_request_id": {
            "type": "string",
            "description": "Only when the analysis engine raised the problem: the engine's id for that call (the task_id, for an ask's fit). Quote it beside request_id to support."
          },
          "doc_url": {
            "type": "string",
            "format": "uri",
            "description": "https://datagoat.io/docs/errors#<code>"
          },
          "errors": {
            "type": "array",
            "description": "invalid_outcomes only: every bad field of the batch, one entry each (a row with two bad fields appears twice), in the caller's field names.",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "field": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                }
              },
              "required": [
                "index"
              ]
            }
          },
          "manifest": {
            "type": "object",
            "description": "mapping_expired only: the manifest of the mapping whose record is gone (what it was built from, and how).",
            "additionalProperties": true
          },
          "retry_after_ms": {
            "type": "integer",
            "description": "rate_limited only: how long to wait before retrying."
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "detail",
          "code",
          "remedy",
          "doc_url"
        ]
      },
      "dg_ask_input": {
        "type": "object",
        "properties": {
          "data": {
            "description": "The record: rows of past cases with a yes/no outcome (or, with shape, data the outcome is read from). Exactly one of dataset_id, rows, csv, fetch_url. Inline data is deleted when the call ends. Optional only when every question names a model_ref and the cases are rows.",
            "type": "object",
            "properties": {
              "dataset_id": {
                "description": "A dataset from dg_add_dataset (ds_…), or a free sample (sample:…; dg_describe lists them).",
                "type": "string",
                "minLength": 1
              },
              "rows": {
                "description": "Inline rows, one object per case. Up to 10,000 rows; dg_add_dataset stores more.",
                "minItems": 1,
                "maxItems": 10000,
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "csv": {
                "description": "Inline CSV text with a header row, up to 3,000,000 characters.",
                "type": "string",
                "minLength": 1,
                "maxLength": 3000000
              },
              "fetch_url": {
                "description": "A public https URL Datagoat downloads the file from: a CSV, a gzip-compressed CSV or a Parquet file (read by the engine). No redirects; private and internal hosts are refused.",
                "type": "string",
                "format": "uri"
              },
              "fetch_headers": {
                "description": "Headers to send with fetch_url, e.g. an Authorization header for a private object.",
                "type": "object",
                "propertyNames": {
                  "type": "string"
                },
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "additionalProperties": false
          },
          "entity_column": {
            "description": "The column naming each case, e.g. customer_id.",
            "type": "string",
            "minLength": 1
          },
          "subject_kind": {
            "description": "What each case is. person turns on decision-support safeguards.",
            "type": "string",
            "enum": [
              "person",
              "org",
              "object",
              "event",
              "other"
            ]
          },
          "questions": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,64}$"
            },
            "additionalProperties": {
              "type": "object",
              "properties": {
                "type": {
                  "description": "yesno: the chance the outcome happens. score: that chance as a level. choice: the best option (needs outcome_is_desirable), with each option's chance, most_likely and least_likely. rank: cases in order of the chance.",
                  "type": "string",
                  "enum": [
                    "yesno",
                    "score",
                    "choice",
                    "rank"
                  ]
                },
                "outcome_column": {
                  "description": "The yes/no column to learn. Required except for choice with option_outcomes.",
                  "type": "string",
                  "minLength": 1
                },
                "outcome_is_desirable": {
                  "description": "true when the outcome is one you WANT (converted, renewed, repaid); false when you want to avoid it (churned, defaulted, failed). Optional except on choice; when absent, Datagoat does not fill it in.",
                  "type": "boolean"
                },
                "positive_values": {
                  "description": "Values of the outcome column that mean yes. Omit when the column has two values such as 0/1, true/false or yes/no.",
                  "minItems": 1,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "levels": {
                  "description": "score only. Level names, lowest first. Default: unlikely, possible, likely, very_likely.",
                  "minItems": 2,
                  "maxItems": 10,
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "cuts": {
                  "description": "score only. One fewer than levels, strictly ascending. Default: 0.25, 0.50, 0.75.",
                  "minItems": 1,
                  "maxItems": 9,
                  "type": "array",
                  "items": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "exclusiveMaximum": 1
                  }
                },
                "option_column": {
                  "description": "choice only. A column you control (team, channel, offer, contract). Each case is scored once per option, and the best option is named.",
                  "type": "string",
                  "minLength": 1
                },
                "options": {
                  "description": "choice with option_column: the values to try.",
                  "minItems": 2,
                  "maxItems": 255,
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "option_outcomes": {
                  "description": "choice only, other form: {option: outcome_column}, one learned outcome per option (2 to 32).",
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "top_k": {
                  "description": "rank only. How many to return. Default 20.",
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 1000
                },
                "refit_of": {
                  "description": "The model_ref of an earlier answer on an older version of this record. Adds a drift report, and links the two for dg_drift. A question with refit_of always runs its fit, even on a record asked about before, so the refit is recorded; it counts as a fit.",
                  "type": "string",
                  "pattern": "^mr1_[0-9a-f]{32}$"
                },
                "model_ref": {
                  "description": "Answer from an existing model instead of learning from the record: the model_ref of an earlier answer. Nothing is fitted. The cases are cases.rows, or cases.ids read from the data sent with this call (a newer version of the record, say). The outcome, its yes values and outcome_is_desirable are the model's own. Not for choice. Works until the model's model_expires_at.",
                  "type": "string",
                  "pattern": "^mr1_[0-9a-f]{32}$"
                }
              },
              "required": [
                "type"
              ],
              "additionalProperties": false
            }
          },
          "cases": {
            "description": "The cases to answer about. Required for yesno, score and choice. Omit for rank to rank the whole record.",
            "type": "object",
            "properties": {
              "ids": {
                "description": "Cases already in the record, by entity id. With several rows per id, the latest wins (see time_column).",
                "minItems": 1,
                "maxItems": 10000,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1
                }
              },
              "rows": {
                "description": "New cases, one object per case. Each needs the entity column and every column the model uses.",
                "minItems": 1,
                "maxItems": 10000,
                "type": "array",
                "items": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              },
              "open": {
                "description": "Today's open cases, found by the engine: on a record dg_map built (or a snapshots shape without a snapshot table), one row per case at as_of, whose outcome is not known yet; on any other record, the rows whose outcome is blank, the latest per case. None open is an answer with no cases, not an error.",
                "type": "boolean",
                "const": true
              }
            },
            "additionalProperties": false
          },
          "time_column": {
            "description": "The time column. Orders rows, so cases by id take each id's latest row. Required with every shape except table.",
            "type": "string",
            "minLength": 1
          },
          "shape": {
            "description": "How to read the record when it is not one row per case: an event log, a series, a panel, signals, traces, or snapshots (an event log read into one row per case every snapshot_every, each with the outcome in the horizon after it; or, with a snapshot table, as of moments you choose). Omit for a table. The engine reads the record into rows per case before it fits; with a model_ref question, an events or snapshots record is read with the columns that model's fit chose. dg_describe lists each shape with a ready-to-run ask.",
            "type": "object",
            "properties": {
              "kind": {
                "description": "table: one row per case (the default). events: an event log, many rows per case. series: a time series per case, one row per case per period, with an outcome on each row. panel: periods per case, with the outcome read from a column's trend or final window. signals: timestamped sensor readings, with fault or event intervals in the same table. traces: a log of runs (one row per run) with agent, task or tool columns. snapshots: an event log read into one row per case per period (snapshot_every), each with the outcome in the horizon after it, which stays blank until the horizon has passed; or, with a snapshot table (shape.snapshots), the log read as of moments you choose (a deal as it entered each stage), with the outcome in the snapshot table.",
                "type": "string",
                "enum": [
                  "table",
                  "events",
                  "series",
                  "panel",
                  "signals",
                  "traces",
                  "snapshots"
                ]
              },
              "event_column": {
                "description": "events, signals, snapshots: the column naming the event type.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "value_columns": {
                "description": "series (required): the numeric columns to summarise over trailing windows. events, snapshots: amounts to sum and average.",
                "minItems": 1,
                "maxItems": 24,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                }
              },
              "signal_columns": {
                "description": "signals (required): the numeric sensor columns.",
                "minItems": 1,
                "maxItems": 24,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                }
              },
              "event_start_column": {
                "description": "signals: when an event interval starts. A row with an event_column value is an interval, not a reading.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "event_end_column": {
                "description": "signals: when an event interval ends.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "agent_column": {
                "description": "traces: the agent that ran.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "task_column": {
                "description": "traces: the task it ran.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "tool_column": {
                "description": "traces: the tool it used.",
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              },
              "label": {
                "description": "events (required): {lapsed: true}, or {name, when}. snapshots without a snapshot table: the same, required unless outcome_time_column is set. panel (required): {trend_of, direction?, alpha?}, or {window_of, periods?, agg?}.",
                "anyOf": [
                  {
                    "anyOf": [
                      {
                        "description": "1 when the case has no event at all in the horizon at the end of the log.",
                        "type": "object",
                        "properties": {
                          "lapsed": {
                            "type": "boolean",
                            "const": true
                          }
                        },
                        "required": [
                          "lapsed"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "description": "Lowercase, digits and underscores. Becomes the outcome column {name}_next_{horizon}{unit}, e.g. churn_next_24h.",
                            "type": "string",
                            "maxLength": 40,
                            "pattern": "^[a-z][a-z0-9]*(?:_[a-z0-9]+)*$"
                          },
                          "when": {
                            "description": "1 when ANY event in the horizon at the end of the log matches. A leaf is {column, op, value}; combine leaves with {all: [...]} or {any: [...]}.",
                            "$ref": "#/$defs/__schema0"
                          }
                        },
                        "required": [
                          "name",
                          "when"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  },
                  {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "trend_of": {
                            "description": "A numeric column. The outcome is 1 when this column shows a significant trend across the case's periods.",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200
                          },
                          "direction": {
                            "description": "Default down.",
                            "type": "string",
                            "enum": [
                              "down",
                              "up"
                            ]
                          },
                          "alpha": {
                            "description": "Significance level. Default 0.1.",
                            "anyOf": [
                              {
                                "type": "number",
                                "const": 0.05
                              },
                              {
                                "type": "number",
                                "const": 0.1
                              }
                            ]
                          }
                        },
                        "required": [
                          "trend_of"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "window_of": {
                            "description": "A yes/no column observed each period. The outcome is its value over the last periods of each case.",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 200
                          },
                          "periods": {
                            "description": "How many final periods form the outcome window. Default 1.",
                            "anyOf": [
                              {
                                "type": "number",
                                "const": 1
                              },
                              {
                                "type": "number",
                                "const": 2
                              },
                              {
                                "type": "number",
                                "const": 3
                              },
                              {
                                "type": "number",
                                "const": 4
                              }
                            ]
                          },
                          "agg": {
                            "description": "How the window's values combine. Default max: yes if any period says yes.",
                            "type": "string",
                            "enum": [
                              "max",
                              "min",
                              "last",
                              "any"
                            ]
                          }
                        },
                        "required": [
                          "window_of"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                ]
              },
              "horizon_days": {
                "description": "events, older form (days only): the outcome window at the end of the log. horizon: {value, unit} is the newer form.",
                "anyOf": [
                  {
                    "type": "number",
                    "const": 30
                  },
                  {
                    "type": "number",
                    "const": 60
                  },
                  {
                    "type": "number",
                    "const": 90
                  }
                ]
              },
              "lookback_days": {
                "description": "events, older form (days only): the two activity windows before the outcome window; lookback with horizon is the newer form. snapshots with a snapshot table: the two activity windows before each snapshot, in days. Default [30, 90].",
                "anyOf": [
                  {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number",
                        "const": 30
                      },
                      {
                        "type": "number",
                        "const": 90
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number",
                        "const": 7
                      },
                      {
                        "type": "number",
                        "const": 30
                      }
                    ]
                  },
                  {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number",
                        "const": 90
                      },
                      {
                        "type": "number",
                        "const": 365
                      }
                    ]
                  }
                ]
              },
              "lookbacks_days": {
                "description": "snapshots without a snapshot table: the two activity windows before each snapshot, in days: [30, 90] (default), [7, 30] or [90, 365].",
                "anyOf": [
                  {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number",
                        "const": 30
                      },
                      {
[...]
